model/euromap83.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.euromap.org/euromap83/Types.xsd" xmlns:tns="http://www.euromap.org/euromap83/Types.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd"/>
    <xs:simpleType name="CavityCycleQualityEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO_PART_0"/>
            <xs:enumeration value="GOOD_PART_1"/>
            <xs:enumeration value="BAD_PART_2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:CavityCycleQualityEnumeration" name="CavityCycleQualityEnumeration"/>
    <xs:complexType name="ListOfCavityCycleQualityEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:CavityCycleQualityEnumeration" name="CavityCycleQualityEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfCavityCycleQualityEnumeration" name="ListOfCavityCycleQualityEnumeration" nillable="true"/>
    <xs:simpleType name="CycleQualityEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOOD_CYCLE_0"/>
            <xs:enumeration value="BAD_CYCLE_1"/>
            <xs:enumeration value="TEST_SAMPLE_CYCLE_2"/>
            <xs:enumeration value="FAILED_CYCLE_3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:CycleQualityEnumeration" name="CycleQualityEnumeration"/>
    <xs:complexType name="ListOfCycleQualityEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:CycleQualityEnumeration" name="CycleQualityEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfCycleQualityEnumeration" name="ListOfCycleQualityEnumeration" nillable="true"/>
    <xs:simpleType name="EventOriginatorEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="MACHINE_1"/>
            <xs:enumeration value="OPERATOR_2"/>
            <xs:enumeration value="MES_3"/>
            <xs:enumeration value="PERIPHERAL_DEVICE_4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:EventOriginatorEnumeration" name="EventOriginatorEnumeration"/>
    <xs:complexType name="ListOfEventOriginatorEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:EventOriginatorEnumeration" name="EventOriginatorEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfEventOriginatorEnumeration" name="ListOfEventOriginatorEnumeration" nillable="true"/>
    <xs:simpleType name="JobStatusEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="TRANSFERRED_ASSIGNED_1"/>
            <xs:enumeration value="SET_UP_ACTIVE_2"/>
            <xs:enumeration value="SET_UP_INTERRUPTED_3"/>
            <xs:enumeration value="SET_UP_FINISHED_4"/>
            <xs:enumeration value="START_UP_ACTIVE_5"/>
            <xs:enumeration value="JOB_IN_PRODUCTION_6"/>
            <xs:enumeration value="JOB_INTERRUPTED_7"/>
            <xs:enumeration value="JOB_FINISHED_8"/>
            <xs:enumeration value="TEAR_DOWN_ACTIVE_9"/>
            <xs:enumeration value="TEAR_DOWN_INTERRUPTED_10"/>
            <xs:enumeration value="TEAR_DOWN_FINISHED_11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:JobStatusEnumeration" name="JobStatusEnumeration"/>
    <xs:complexType name="ListOfJobStatusEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:JobStatusEnumeration" name="JobStatusEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfJobStatusEnumeration" name="ListOfJobStatusEnumeration" nillable="true"/>
    <xs:simpleType name="LogbookEventsEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PARAMTER_CHANGE_0"/>
            <xs:enumeration value="USER_1"/>
            <xs:enumeration value="SEQUENCE_CHANGE_2"/>
            <xs:enumeration value="MACHINE_MODE_CHANGE_3"/>
            <xs:enumeration value="PRODUCTION_STATUS_CHANGE_4"/>
            <xs:enumeration value="PRODUCTION_DATASET_CHANGE_5"/>
            <xs:enumeration value="STANDSTILL_REASON_6"/>
            <xs:enumeration value="MESSAGE_7"/>
            <xs:enumeration value="USER_FEEDBACK_8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:LogbookEventsEnumeration" name="LogbookEventsEnumeration"/>
    <xs:complexType name="ListOfLogbookEventsEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:LogbookEventsEnumeration" name="LogbookEventsEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfLogbookEventsEnumeration" name="ListOfLogbookEventsEnumeration" nillable="true"/>
    <xs:simpleType name="MachineModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="AUTOMATIC_1"/>
            <xs:enumeration value="SEMI_AUTOMATIC_2"/>
            <xs:enumeration value="MANUAL_3"/>
            <xs:enumeration value="SETUP_4"/>
            <xs:enumeration value="SLEEP_5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:MachineModeEnumeration" name="MachineModeEnumeration"/>
    <xs:complexType name="ListOfMachineModeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:MachineModeEnumeration" name="MachineModeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfMachineModeEnumeration" name="ListOfMachineModeEnumeration" nillable="true"/>
    <xs:simpleType name="MouldStatusEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="MOULD_NOT_INSTALLED_1"/>
            <xs:enumeration value="MOULD_CHANGE_2"/>
            <xs:enumeration value="MOULD_INSTALLED_3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:MouldStatusEnumeration" name="MouldStatusEnumeration"/>
    <xs:complexType name="ListOfMouldStatusEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:MouldStatusEnumeration" name="MouldStatusEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfMouldStatusEnumeration" name="ListOfMouldStatusEnumeration" nillable="true"/>
    <xs:simpleType name="ProductionDatasetComponentEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMM_0"/>
            <xs:enumeration value="ROBOT_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:ProductionDatasetComponentEnumeration" name="ProductionDatasetComponentEnumeration"/>
    <xs:complexType name="ListOfProductionDatasetComponentEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:ProductionDatasetComponentEnumeration" name="ProductionDatasetComponentEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfProductionDatasetComponentEnumeration" name="ListOfProductionDatasetComponentEnumeration" nillable="true"/>
    <xs:simpleType name="ProductionStatusEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="NO_PRODUCTION_1"/>
            <xs:enumeration value="START_UP_2"/>
            <xs:enumeration value="READY_FOR_PRODUCTION_3"/>
            <xs:enumeration value="PRODUCTION_4"/>
            <xs:enumeration value="DRY_RUN_5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:ProductionStatusEnumeration" name="ProductionStatusEnumeration"/>
    <xs:complexType name="ListOfProductionStatusEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:ProductionStatusEnumeration" name="ProductionStatusEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfProductionStatusEnumeration" name="ListOfProductionStatusEnumeration" nillable="true"/>
    <xs:simpleType name="SequenceChangeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPDATE_0"/>
            <xs:enumeration value="ADD_1"/>
            <xs:enumeration value="MODIFY_2"/>
            <xs:enumeration value="MOVE_3"/>
            <xs:enumeration value="DELETE_4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:SequenceChangeEnumeration" name="SequenceChangeEnumeration"/>
    <xs:complexType name="ListOfSequenceChangeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:SequenceChangeEnumeration" name="SequenceChangeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfSequenceChangeEnumeration" name="ListOfSequenceChangeEnumeration" nillable="true"/>
    <xs:simpleType name="StorageEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FILE_SYSTEM_0"/>
            <xs:enumeration value="CONTROL_SYSTEM_1"/>
            <xs:enumeration value="FILE_AND_CONTROL_SYSTEM_2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:StorageEnumeration" name="StorageEnumeration"/>
    <xs:complexType name="ListOfStorageEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:StorageEnumeration" name="StorageEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfStorageEnumeration" name="ListOfStorageEnumeration" nillable="true"/>
    <xs:simpleType name="TemperatureConfigurationEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0"/>
            <xs:enumeration value="OFF_1"/>
            <xs:enumeration value="AUTOMATIC_2"/>
            <xs:enumeration value="TUNING_3"/>
            <xs:enumeration value="STANDBY_4"/>
            <xs:enumeration value="OPEN_LOOP_5"/>
            <xs:enumeration value="ONLY_MEASUREMENT_6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:TemperatureConfigurationEnumeration" name="TemperatureConfigurationEnumeration"/>
    <xs:complexType name="ListOfTemperatureConfigurationEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:TemperatureConfigurationEnumeration" name="TemperatureConfigurationEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfTemperatureConfigurationEnumeration" name="ListOfTemperatureConfigurationEnumeration" nillable="true"/>
    <xs:simpleType name="UserChangeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOG_ON_0"/>
            <xs:enumeration value="LOG_OFF_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:UserChangeEnumeration" name="UserChangeEnumeration"/>
    <xs:complexType name="ListOfUserChangeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:UserChangeEnumeration" name="UserChangeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfUserChangeEnumeration" name="ListOfUserChangeEnumeration" nillable="true"/>
    <xs:complexType name="EuromapProfileType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="EuromapProfile"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Version"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:EuromapProfileType" name="EuromapProfileType"/>
    <xs:complexType name="ListOfEuromapProfileType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:EuromapProfileType" name="EuromapProfileType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfEuromapProfileType" name="ListOfEuromapProfileType" nillable="true"/>
    <xs:complexType name="JobListElementType">
        <xs:sequence>
            <xs:element minOccurs="0" type="xs:unsignedInt" name="EncodingMask"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="JobName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="JobDescription"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="JobClassification"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="ProductionDatasetName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="ProductionDatasetDescription"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="MouldId"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:unsignedInt" name="NumCavities"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:ListOfString" name="Material"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:ListOfString" name="ProductName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:ListOfString" name="ProductDescription"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="JobPriority"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:dateTime" name="PlannedStart"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:double" name="PlannedProductionTime"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:dateTime" name="LatestEnd"/>
        </xs:sequence>
        <xs:attribute name="EncodingTable" fixed="MouldId:0,NumCavities:1"/>
    </xs:complexType>
    <xs:element type="tns:JobListElementType" name="JobListElementType"/>
    <xs:complexType name="ListOfJobListElementType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:JobListElementType" name="JobListElementType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfJobListElementType" name="ListOfJobListElementType" nillable="true"/>
    <xs:complexType name="CyclicJobListElementType">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:JobListElementType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:unsignedLong" name="NominalParts"/>
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:unsignedLong" name="NominalBoxParts"/>
                    <xs:element minOccurs="0" maxOccurs="1" type="xs:double" name="ExpectedCycleTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        <xs:attribute name="EncodingTable" fixed="MouldId:0,NumCavities:1,NominalBoxParts:2"/>
    </xs:complexType>
    <xs:element type="tns:CyclicJobListElementType" name="CyclicJobListElementType"/>
    <xs:complexType name="ListOfCyclicJobListElementType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:CyclicJobListElementType" name="CyclicJobListElementType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfCyclicJobListElementType" name="ListOfCyclicJobListElementType" nillable="true"/>
    <xs:complexType name="PageEntryDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Id"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:LocalizedText" name="Title"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:PageEntryDataType" name="PageEntryDataType"/>
    <xs:complexType name="ListOfPageEntryDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:PageEntryDataType" name="PageEntryDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfPageEntryDataType" name="ListOfPageEntryDataType" nillable="true"/>
    <xs:complexType name="ProductionDatasetInformationType">
        <xs:sequence>
            <xs:element minOccurs="0" type="xs:unsignedInt" name="EncodingMask"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Name"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Description"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="MESId"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:dateTime" name="CreationTimestamp"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:dateTime" name="LastModificationTimestamp"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="UserName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:ListOfProductionDatasetComponentEnumeration" name="Components"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Manufacturer"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="SerialNumber"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Model"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="ControllerType"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="UserMachineName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="LocationName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:ListOfString" name="ProductName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="MouldId"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:unsignedInt" name="NumCavities"/>
        </xs:sequence>
        <xs:attribute name="EncodingTable" fixed="MouldId:0,NumCavities:1"/>
    </xs:complexType>
    <xs:element type="tns:ProductionDatasetInformationType" name="ProductionDatasetInformationType"/>
    <xs:complexType name="ListOfProductionDatasetInformationType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:ProductionDatasetInformationType" name="ProductionDatasetInformationType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfProductionDatasetInformationType" name="ListOfProductionDatasetInformationType" nillable="true"/>
    <xs:complexType name="ProductionDatasetWriteOptions">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Name"/>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:StorageEnumeration" name="Storage"/>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:ListOfProductionDatasetComponentEnumeration" name="Components"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ProductionDatasetWriteOptions" name="ProductionDatasetWriteOptions"/>
    <xs:complexType name="ListOfProductionDatasetWriteOptions">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:ProductionDatasetWriteOptions" name="ProductionDatasetWriteOptions" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfProductionDatasetWriteOptions" name="ListOfProductionDatasetWriteOptions" nillable="true"/>
    <xs:complexType name="StandstillReasonType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Id"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:LocalizedText" name="Text"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="LockedByMES"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:StandstillReasonType" name="StandstillReasonType"/>
    <xs:complexType name="ListOfStandstillReasonType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:StandstillReasonType" name="StandstillReasonType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfStandstillReasonType" name="ListOfStandstillReasonType" nillable="true"/>
</xs:schema>
