model/euromap77.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.euromap.org/euromap77/Types.xsd" xmlns:tns="http://www.euromap.org/euromap77/Types.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://opcfoundation.org/UA/2008/02/Types.xsd"/>
    <xs:simpleType name="CavityCycleQualityEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO_PART_0_0"/>
            <xs:enumeration value="GOOD_PART_1_1"/>
            <xs:enumeration value="BAD_PART_2_2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:CavityCycleQualityEnumeration" name="CavityCycleQualityEnumeration"/>
    <xs:complexType name="ListOfCavityCycleQualityEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:CavityCycleQualityEnumeration" name="CavityCycleQualityEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfCavityCycleQualityEnumeration" name="ListOfCavityCycleQualityEnumeration" nillable="true"/>
    <xs:simpleType name="CycleQualityEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOOD_CYCLE_1_0"/>
            <xs:enumeration value="BAD_CYCLE_2_1"/>
            <xs:enumeration value="TEST_SAMPLE_CYCLE_3_2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:CycleQualityEnumeration" name="CycleQualityEnumeration"/>
    <xs:complexType name="ListOfCycleQualityEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:CycleQualityEnumeration" name="CycleQualityEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfCycleQualityEnumeration" name="ListOfCycleQualityEnumeration" nillable="true"/>
    <xs:simpleType name="IMMMessageClassificationEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0_0"/>
            <xs:enumeration value="IMM_INJECTION_UNIT_100_100"/>
            <xs:enumeration value="IMM_CLAMPING_UNIT_101_101"/>
            <xs:enumeration value="IMM_HARDWARE_102_102"/>
            <xs:enumeration value="IMM_COMPRESSED_AIR_CONTROL_103_103"/>
            <xs:enumeration value="IMM_MACHINE_MONITORING_104_104"/>
            <xs:enumeration value="IMM_MOULD_105_105"/>
            <xs:enumeration value="IMM_EJECTOR_106_106"/>
            <xs:enumeration value="IMM_CORE_PULL_107_107"/>
            <xs:enumeration value="IMM_TABLE_108_108"/>
            <xs:enumeration value="IMM_INJECTION_PROGRAM_109_109"/>
            <xs:enumeration value="IMM_HYDRAULIC_TEMPERATURE_CONTROL_110_110"/>
            <xs:enumeration value="IMM_CYLINDER_TEMPERATURE_CONTROL_111_111"/>
            <xs:enumeration value="IMM_MOULD_TEMPERATURE_CONTROL_112_112"/>
            <xs:enumeration value="IMM_HOT_RUNNER_113_113"/>
            <xs:enumeration value="IMM_INTERFACES_114_114"/>
            <xs:enumeration value="IMM_MEASURING_SYSTEM_115_115"/>
            <xs:enumeration value="IMM_ROBOTIC_SYSTEM_INTERFACE_116_116"/>
            <xs:enumeration value="IMM_SPECIAL_PURPOSE_SIGNALS_117_117"/>
            <xs:enumeration value="IMM_REALTIME_ETHERNET_SYSTEM_118_118"/>
            <xs:enumeration value="IMM_MACHINE_CONTROLLER_119_119"/>
            <xs:enumeration value="IMM_SOFTWARE_MONITORING_120_120"/>
            <xs:enumeration value="PERIPHERAL_EXTERNAL_DEVICE_INTERFACE_200_200"/>
            <xs:enumeration value="PERIPHERAL_TEMPERATURE_CONTROL_UNIT_201_201"/>
            <xs:enumeration value="PERIPHERAL_ROBOTICS_SYSTEM_202_202"/>
            <xs:enumeration value="PERIPHERAL_LSR_203_203"/>
            <xs:enumeration value="PERIPHERAL_STRIPPER_UNIT_204_204"/>
            <xs:enumeration value="PERIPHERAL_DRYER_205_205"/>
            <xs:enumeration value="PERIPHERAL_CONVEYOR_BELT_206_206"/>
            <xs:enumeration value="PERIPHERAL_SORTER_UNIT_207_207"/>
            <xs:enumeration value="PERIPHERAL_COLOURING_UNIT_208_208"/>
            <xs:enumeration value="PERIPHERAL_INJESTER_UNIT_209_209"/>
            <xs:enumeration value="PERIPHERAL_EXTERNAL_ALARMS_210_210"/>
            <xs:enumeration value="PERIPHERAL_VACUUM_CONTROL_211_211"/>
            <xs:enumeration value="PERIPHERAL_PRINTER_INTERFACE_212_212"/>
            <xs:enumeration value="OPERATION_QUALITY_MONITORING_300_300"/>
            <xs:enumeration value="OPERATION_MANUAL_OPERATION_301_301"/>
            <xs:enumeration value="OPERATION_EMERGENCY_STOP_302_302"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:IMMMessageClassificationEnumeration" name="IMMMessageClassificationEnumeration"/>
    <xs:complexType name="ListOfIMMMessageClassificationEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:IMMMessageClassificationEnumeration" name="IMMMessageClassificationEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfIMMMessageClassificationEnumeration" name="ListOfIMMMessageClassificationEnumeration" nillable="true"/>
    <xs:simpleType name="JobStatusEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0_0"/>
            <xs:enumeration value="TRANSFERRED_ASSIGNED_1_1"/>
            <xs:enumeration value="SETUP_ACTIVE_2_2"/>
            <xs:enumeration value="SETUP_INTERRUPTED_3_3"/>
            <xs:enumeration value="SETUP_FINISHED_4_4"/>
            <xs:enumeration value="STARTUP_ACTIVE_5_5"/>
            <xs:enumeration value="JOB_IN_PRODUCTION_6_6"/>
            <xs:enumeration value="JOB_INTERRUPTED_7_7"/>
            <xs:enumeration value="JOB_FINISHED_8_8"/>
            <xs:enumeration value="TEAR_DOWN_ACTIVE_9_9"/>
            <xs:enumeration value="TEAR_DOWN_INTERRUPTED_10_10"/>
            <xs:enumeration value="TEAR_DOWN_FINISHED_11_11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:JobStatusEnumeration" name="JobStatusEnumeration"/>
    <xs:complexType name="ListOfJobStatusEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:JobStatusEnumeration" name="JobStatusEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfJobStatusEnumeration" name="ListOfJobStatusEnumeration" nillable="true"/>
    <xs:simpleType name="MachineModeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0_0"/>
            <xs:enumeration value="AUTOMATIC_1_1"/>
            <xs:enumeration value="SEMI_AUTOMATIC_2_2"/>
            <xs:enumeration value="MANUAL_3_3"/>
            <xs:enumeration value="SETUP_4_4"/>
            <xs:enumeration value="SLEEP_5_5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:MachineModeEnumeration" name="MachineModeEnumeration"/>
    <xs:complexType name="ListOfMachineModeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:MachineModeEnumeration" name="MachineModeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfMachineModeEnumeration" name="ListOfMachineModeEnumeration" nillable="true"/>
    <xs:simpleType name="ProductionStatusEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHER_0_0"/>
            <xs:enumeration value="NO_PRODUCTION_1_1"/>
            <xs:enumeration value="START_UP_2_2"/>
            <xs:enumeration value="READY_FOR_PRODUCTION_3_3"/>
            <xs:enumeration value="PRODUCTION_4_4"/>
            <xs:enumeration value="DRY_CYCLE_5_5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:ProductionStatusEnumeration" name="ProductionStatusEnumeration"/>
    <xs:complexType name="ListOfProductionStatusEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:ProductionStatusEnumeration" name="ProductionStatusEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfProductionStatusEnumeration" name="ListOfProductionStatusEnumeration" nillable="true"/>
    <xs:simpleType name="TypeOfChangeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPDATE_0_0"/>
            <xs:enumeration value="ADD_1_1"/>
            <xs:enumeration value="MODIFY_2_2"/>
            <xs:enumeration value="MOVE_3_3"/>
            <xs:enumeration value="DELETE_4_4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:TypeOfChangeEnumeration" name="TypeOfChangeEnumeration"/>
    <xs:complexType name="ListOfTypeOfChangeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:TypeOfChangeEnumeration" name="TypeOfChangeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfTypeOfChangeEnumeration" name="ListOfTypeOfChangeEnumeration" nillable="true"/>
    <xs:simpleType name="UserChangeEnumeration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LOG_ON_0_0"/>
            <xs:enumeration value="LOG_OFF_1_1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element type="tns:UserChangeEnumeration" name="UserChangeEnumeration"/>
    <xs:complexType name="ListOfUserChangeEnumeration">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:UserChangeEnumeration" name="UserChangeEnumeration" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfUserChangeEnumeration" name="ListOfUserChangeEnumeration" nillable="true"/>
    <xs:complexType name="Message1Type">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Id"/>
            <xs:element minOccurs="0" maxOccurs="1" type="tns:IMMMessageClassificationEnumeration" name="Classification"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="StandstillAlarm"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:Message1Type" name="Message1Type"/>
    <xs:complexType name="ListOfMessage1Type">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:Message1Type" name="Message1Type" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfMessage1Type" name="ListOfMessage1Type" nillable="true"/>
    <xs:complexType name="PageEntryDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Id"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:LocalizedText" name="Title"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:PageEntryDataType" name="PageEntryDataType"/>
    <xs:complexType name="ListOfPageEntryDataType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:PageEntryDataType" name="PageEntryDataType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfPageEntryDataType" name="ListOfPageEntryDataType" nillable="true"/>
    <xs:complexType name="StandstillReasonType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Id"/>
            <xs:element minOccurs="0" maxOccurs="1" type="ua:LocalizedText" name="Text"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="LockedByMES"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:StandstillReasonType" name="StandstillReasonType"/>
    <xs:complexType name="ListOfStandstillReasonType">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" type="tns:StandstillReasonType" name="StandstillReasonType" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element type="tns:ListOfStandstillReasonType" name="ListOfStandstillReasonType" nillable="true"/>
</xs:schema>
